<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project Management App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <header>
    <h1>Placeholder App Title</h1>
    <nav>
      {{#if user}}
      <span class="username">{{user.username}}</span>
      <a href="/auth/logout">Log Out</a>
      {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {{/if}}
    </nav>

  </header>
  <h2>E-Rangement?</h2>

  <h3>Welcome {{#if user}}{{user.username}}{{else}}Guest{{/if}}</h3>

  <h4>{{#if project-title}}{{else}}Project Title{{/if}}</h4>

  <form action="/api/todos" method="post">
    <input type="text" name="input" placeholder="Add ToDos Here">
  </form>
  <section>
    <div class="container container-fluid">
      <div class="row">

        <div class="card border-dark" style="width: 20%;">
          <div class="card-header">
            Person 1
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush" id="todo-1">Person 1 Todos</div>
          </div>
          <div class="card-footer">
            <button id="prsn-1">Add ToDo</button>
          </div>
        </div>

        <div class="card border-dark" style="width: 20%;">
          <div class="card-header">
            Person 2
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush" id="todo-2">Person 2 Todos</div>
          </div>
          <div class="card-footer">
            <button id="prsn-2">Add ToDo</button>
          </div>
        </div>

        <div class="card border-dark" style="width: 20%;">
          <div class="card-header">
            Person 3
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush" id="todo-3">Person 3 Todos</div>
          </div>
          <div class="card-footer">
            <button id="prsn-3">Add ToDo</button>
          </div>
        </div>

        <div class="card border-dark" style="width: 20%;">
          <div class="card-header">
            Person 4
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush" id="todo-4">Person 4 Todos</div>
          </div>
          <div class="card-footer">
            <button id="prsn-4">Add ToDo</button>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="container container-fluid">
      <div class="card border-dark" id="genCard" style="width: 40%;">
        <div class="card-header">
          Inspiration
        </div>
        <div class="card-body">
          <div class="list-group list-group-flush" id="quotePlacement">Quote goes here</div>
        </div>
        <div class="card-footer">
          <button id="genBtn">Motivate Me!</button>
        </div>
      </div>
    </div>
  </section>

  <script src="js/app.js"></script>
</body>

</html>