<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
    <h1>Placeholder App Title</h1>
    <nav>
      {{#if user}}
        <span class="username">{{user.username}}</span>
        <a href="/auth/logout">Log Out</a>
        {{else}}
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
      {{/if}}
    </nav>
    </header>

    <h2>Welcome {{#if user}}{{user.username}}{{else}}Guest{{/if}}</h2>

    <h3>{{#if project-title}}{{else}}Project Title{{/if}}</h3>

    <form>
        <input type="text" name="todos" id="todos" placeholder="Add ToDos Here">
        <button id="todoBtn">Submit</button>
    </form>


    <script src="js/app.js"></script>
</body>
</html>