<header>
  <h1>E-Rangement</h1>
  <nav>
    {{#if user}}
    <span class="username">{{user.username}}</span>
    <a href="/auth/logout">Log Out</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{/if}}
  </nav>

</header>
<h3>Welcome {{#if user}}{{user.username}}{{else}}Guest{{/if}}</h3>

<h2 id="project-title">placeholder</h2>


{{!-- <h4>{{#if project-title}}{{else}}Project Title{{/if}}</h4> --}}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mx-auto modalBtn" id="myModal" data-bs-toggle="modal" data-bs-target="#exampleModal">
  New Project
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Enter A Name For Your Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" name="Project Title" placeholder="What is Your Project Title?" id="project-input">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{{!-- <form method="post">
  <input type="text" name="addPrsn" placeholder="Add a Person" id="prsn-input">
  <button id="add">Add Person</button>
</form> --}}

<form action="/api/todos" method="post">
  <input type="text" name="tasks" placeholder="Add ToDos Here" value="test">
</form>
<section>
  <div class="container container-fluid">
    <div class="row">
      {{#each users}}
      <div class="card border-dark" style="width: 20%;">
        <div class="card-header">
          {{this.username}}
        </div>
        <div class="card-body">
          <div class="list-group list-group-flush" id="todo-1"></div>
        </div>
        <div class="card-footer">
          <button id="prsn-1">Add ToDo</button>
        </div>
      </div>
      {{/each}}
      {{!--
      <div class="card border-dark" style="width: 20%;">
        <div class="card-header">
          Person 2
        </div>
        <div class="card-body">
          <div class="list-group list-group-flush" id="todo-2">Person 2 Todos</div>
        </div>
        <div class="card-footer">
          <button id="prsn-2">Add ToDo</button>
        </div>
      </div>

      <div class="card border-dark" style="width: 20%;">
        <div class="card-header">
          Person 3
        </div>
        <div class="card-body">
          <div class="list-group list-group-flush" id="todo-3">Person 3 Todos</div>
        </div>
        <div class="card-footer">
          <button id="prsn-3">Add ToDo</button>
        </div>
      </div>

      <div class="card border-dark" style="width: 20%;">
        <div class="card-header">
          Person 4
        </div>
        <div class="card-body">
          <div class="list-group list-group-flush" id="todo-4">Person 4 Todos</div>
        </div>
        <div class="card-footer">
          <button id="prsn-4">Add ToDo</button>
        </div>
      </div> --}}

    </div>
  </div>
</section>

<section>
  <div class="container container-fluid">
    <div class="card border-dark" id="genCard" style="width: 40%;">
      <div class="card-header">
        Inspiration
      </div>
      <div class="card-body">
        <div class="list-group list-group-flush" id="placement">Quote goes here</div>
      </div>
      <div class="card-footer">
        <button id="genBtn">Motivate Me!</button>
      </div>
    </div>
  </div>
</section>